.TchatSender {
  display: flex;
  flex-direction: row;

  > input {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #61dafb;
    &:hover, &:focus {
      padding-bottom: 8px;
      border-bottom-width: 4px;
    }
  }
}