.Button {
  margin: 3px;
  border: solid 2px #61dafb;
  $buttonHeight: 100px;
  height: $buttonHeight;
  border-radius: 30px;
  transition: box-shadow 0.2s;

  > span {
    display: inline-block;
    $margin: 8px;
    width: $buttonHeight - 2*$margin;
    margin: $buttonHeight/4+$margin $margin 0 $margin;
    padding: 2px;
    color: white;
    // background-color: #282c34; done in js
    border: solid 1px #61dafb;
    border-radius: 10px;
  }
  &:hover {
    >span {
      animation: Benj-button-spin infinite 2s;
    }
  }
  &.onclick {
    box-shadow: 3px 7px 10px grey;
  }

  img {
    height: 28px;
  }
}

@keyframes Benj-button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
