.NicknameForm {
  display: flex;
  flex-wrap: wrap;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #61dafb;
  }

  > span {
    flex-basis: 100%;
  }
}